# MongoDB
MONGODB_URI=mongodb://localhost:27017/vuelder-devops

# Logger
LOGGER_LEVEL=info
LOGGER_LOCAL_SAVE=false
LOGGER_LOGS_PATH=./logs

# Docker Registry
DOCKER_REGISTRY_URL=http://localhost:5000
